/AvgLen.class
/AvgLenRunner.class
/FirstLastVowel.class
/JavaStringLabRunner.class
/StringEquality.class
/StringEqualityRunner.class
/StringOddOrEven.class
/StringRunner.class
/VowelsRunner.class
/WordsCompare.class
/WordsCompareRunner.class
